*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-image{
    background-image: url(/assets/contacto/fondocontacto.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_style {
  background-color: var(--main-color);
}

.head {
     background-color:orange;
     border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: 42px 33px 34px -28px rgba(77,33,255,1);
-moz-box-shadow: 42px 33px 34px -28px rgba(77,33,255,1);
box-shadow: 42px 33px 34px -28px rgba(77,33,255,1);
}

.location-image {
    padding-bottom: 1rem;
    
    

}

.head-map {
     background-color:unset;
     border-radius: 5px;
     margin-top: -40px;
     padding-right: 2.2rem;
     text-decoration-color: orange;
     
}





.effect-1 {
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.btn1{
    background: orange;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
    } 
    .btn1:hover {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(77,33,255,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(77,33,255,0.75);
        box-shadow: 10px 10px 5px 0px rgba(77,33,255,0.75);


    }

    /*rango de ancho para tablet*/
@media screen and (min-width: 673px) and (max-width: 1000px) {
}

/*rango de ancho para smartphone*/
@media screen and (max-width: 672px) {
    html {
        font-size: 12px;
    }
    
    main {
        flex-direction: column;
    }
    
    main > aside {
        flex: 0 0 200px;
        font-size: .75rem;
    }
    .ocultar-div{
        display:none;
    }
}
/*   footer   */
:root {
    --main-color: #e17d09;
    --secondary-color: #000;
    --link-hover-bg-color: #000000;
  }
  
  footer li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  footer a {
    text-decoration: none;
    color: var(--main-color);
  }
  
  footer {
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
  }
  
  footer > div {
    flex-grow: 1;
    padding: 2rem 1rem;
  }
  
  footer .footer-social-column i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  footer .footer-social-column ul {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    text-align: center;
  }
  
  .footer-social-column ul li {
    box-shadow: 0 3px 5px 0px var(--link-hover-bg-color);
    transition: 0.2;
  }
  
  .footer-social-column ul:hover a {
    filter: blur(1.15px);
  }
  
  .footer-social-column ul li a:hover {
    transform: translateY(-3px);
    scale: 1.05;
    box-shadow: 0 5px 5px 0px var(--link-hover-bg-color);
    filter: none;
  }
  
  footer .footer-logo-column {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  footer .footer-links-column ul {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }
  